%h1 Sign up

= form_for @user do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email 
    = f.email_field :email
  .field
    = f.label :password 
    = f.password_field :password
  .actions
    = f.submit "Sign Up"