!!!
%html
  %head
    %title Golfalytics
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body

    .header
      = link_to "Home", root_path
      - if current_user
        = current_user.email
        = link_to "Sign out", signout_path
      - else
        = link_to "Sign in", signin_path
        = link_to "Sign up", signup_path

    - flash.each do |name, msg|
      .flash_messages
        = content_tag :div, msg, class: "flash_#{name}"
    .main
      = yield
    .footer
      = link_to "Admin", admin_root_path
